table, th, td {
   
    border-collapse: collapse;
    text-align: center;
   }
   th, td {
    padding: 10px;
    font-weight: bold;
   }
   tr:hover {
    background-color:rgb(245, 252, 255);
   }
   th {
    background-color:black;
    color: white;
 }
 h2 {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(13, 92, 116), rgb(206, 193, 193), rgb(105, 189, 238));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 6s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }}
.btn-info {
    color: #45c770;
}