
<div class="container">
    <div class="card shadow mb-4"> 
    <div class="card-body">
    <h1 style="text-align:center;">Dashboard</h1><br>
    <div class="row">
    <div class="col-md-4">
    <div class="card card-stats text-white bg-primary">
    <div class="card-body ">
    <div class="row">
    <div class="col-5">
    <div class="icon-big text-center">
    <img src="../../assets/img/stage.png" class="card-img-top" height="50" 
    width="50">
    </div>
</div>
<div class="col-7 d-flex align-items-center">
<div class="numbers">
<p class="card-category"> Stages </p>
<h4 class="card-title">{{nbstage}}</h4>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card card-stats text-white bg-danger">
<div class="card-body ">
<div class="row">
<div class="col-5">
<div class="icon-big text-center">
<img src="../../assets/img/fromation.svg" class="card-img-top" height="50" 
width="50">
</div>
</div>
<div class="col-7 d-flex align-items-center">
<div class="numbers">
<p class="card-category"> formations </p>
<h4 class="card-title">{{nbfor}}</h4>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="col-md-4">
    <div class="card card-stats text-white bg-danger">
    <div class="card-body ">
    <div class="row">
    <div class="col-5">
    <div class="icon-big text-center">
    <img src="../../assets/img/diplome.png" class="card-img-top" height="50" 
    width="50">
    </div>
    </div>
    <div class="col-7 d-flex align-items-center">
    <div class="numbers">
    <p class="card-category"> diplomes </p>
    <h4 class="card-title">{{nbdip}}</h4>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

        </div>
        </div>
        </div>
        </div>
