<div class="form">
    <h2 align="center"> <u> Ajouter Un Stage</u> </h2>
    <div class="input-container ic1">
        <input type="number" [(ngModel)]="newStage.num"  name="num" class="input" placeholder=" " >
      <div class="cut"></div>
      <label for="num" class="placeholder"> Code Stage </label>
    </div>
    <div class="input-container ic2">
      <input type="text"[(ngModel)]="newStage.acceuil" name="acceuil" id="organisme d'acceuil" class="input" placeholder=" ">
      <div class="cut"></div>
      <label for="acceuil" class="placeholder"> organisme d'acceuil</label>
    </div>

    <div class="input-container ic2"> 
        <input type="text" [(ngModel)]="newStage.lieu"  name="lieu" class="input" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="lieu" class="placeholder"> lieu </label>
    </div>

    <div class="input-container ic2">
        <input type="date" [(ngModel)]="newStage.date" name="date" class="input" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="date" class="placeholder"> date </label>
    </div> 
    <div class="input-container ic2">
        <select class="input" id="code" name="code" 
        [(ngModel)]="newIdt" placeholder=" ">
        <option *ngFor="let type of tab_type" [value]="type.code"> 
        {{type.nom}}</option>
        </select> 
        <div class="cut cut-short"></div>
         <label for = "type de stage" class="placeholder"> Type de Stage </label>
    </div> 

    <button type="text" class="submit"(click)="addStage()"> submit</button>
</div>
<br> <br>

